metOffice/__pycache__/
proCyclingStats/__pycache__/
metOffice/output.html
proCyclingStats/output.html
metOffice/locations.csv
musicTag/music_tag
chestOrganiser/images/
chestOrganiser/save.json
chestOrganiser/files.csv
chestOrganiser/__pycache__/
strava/strava.txt.gpg
strava/strava.txt
mdToGroff/go.sum
mdToGroff/groff
